body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
    list-style: none;
    text-decoration: none;
    background: url(abha.jpg) no-repeat;
   
    background-size: cover;
}



.images{
 
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-45%,250%);
    border-width: medium;
    border-color: rgb(146, 7, 192);
    display: flex;
    gap: 20px;


}


.images img{
   
    border-radius: 5%;
    border-color: rgb(146, 7, 192);
}

.img-1{
    transition: .3s;
}

.images:hover>  :not(:hover){
    opacity: .4;
}
h1{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-44%,5%);
}
h1 {
 
    color:#fff;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 10px;
    margin-top: 20px;
   
}